<div class="content-section">
    <div class="media">
        <img class="rounded-circle account-img" src="/media/default.jpg" alt="Profile Picture">
        <div class="media-body">
            <h2 class="account-heading"><%= user ? user.username : 'User' %></h2>
            <p class="text-secondary"><%= user ? user.email : 'user@example.com' %></p>
        </div>
    </div>
</div>